<p id="notice"><%= notice %></p>

<h1>Movings</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Shipment</th>
      <th>Price</th>
      <th>Count</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movings.each do |moving| %>
      <tr>
        <td><%= moving.product %></td>
        <td><%= moving.shipment %></td>
        <td><%= moving.price %></td>
        <td><%= moving.count %></td>
        <td><%= moving.comment %></td>
        <td><%= link_to 'Show', moving %></td>
        <td><%= link_to 'Edit', edit_moving_path(moving) %></td>
        <td><%= link_to 'Destroy', moving, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Moving', new_moving_path %>
