<%= form_with(model: moving, local: true) do |form| %>
  <% if moving.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(moving.errors.count, "error") %> prohibited this moving from being saved:</h2>

      <ul>
      <% moving.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product %>
    <%= form.collection_select :product_id, Product.all, :id, :title, prompt: true, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :shipment %>
    <%= form.collection_select :shipment_id, Shipment.all, :id, :id, prompt: true, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :count %>
    <%= form.text_field :count %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div class="field">
    <%= form.label :status %><br>
    <%= form.select :status, Moving.statuses.keys %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
